<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/header :: header}"></nav>
<div class="container mt-5">
    <h1>Về MotoRental</h1>
    <p class="lead">Hệ thống cho thuê xe máy hàng đầu, uy tín và chất lượng.</p>
    <p>Chúng tôi cung cấp đa dạng các dòng xe từ xe số, xe ga đến xe côn tay phục vụ nhu cầu đi lại, du lịch của quý khách.</p>
    <hr>
    <h5>Liên hệ</h5>
    <ul>
        <li>Địa chỉ: HUTECH, TP.HCM</li>
        <li>Hotline: 1900 1234</li>
        <li>Email: support@motorental.com</li>
    </ul>
</div>
</body>
</html>